<%= render :partial => '/share/about' %>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <p>You can follow me on Twitter at <a href="http://twitter.com/epwna_monk">@epwna_monk</a></p>
</div>