<div class="container" style="margin-top: 50px">
  <h3>Check My Wow</h3>
  <p><a href="http://www.checkmywow.com">Check My Wow</a> is a new site that extends the functionality of Brewmaster Logs to eventually (hopefully) support all classes.</p>
  <p>Because I will no longer be actively developing this site, I would like to ask you to switch to using the new site, which is essentially the same thing but better.</p>
  <br />
  <p>I will leave this site up for a while so that anybody will be able to see past logs they have imported, but as of April 1st 2016 you will no longer be able to process any new logs. </p>
  <p>Thank you for your understanding.</p>
</div>