<div class="container text-center">
  <h2>Warcraft Logs username:</h2>
  <%= form_tag('', method: "get") do %>
    <h2><%= text_field_tag(:user_id) %></h2>
    <%= submit_tag("Start", class: "btn btn-primary btn-lg") %>
  <% end %>
</div>

<%= render :partial => '/share/about' %>