/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  font-family: 'Avenir', 'Arial', 'sans-serif';
  margin: 0;
 }

html, body {
  height: 100%;
}

.notif {
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 50px;
  background-color: #FE4C4F;
  margin-bottom: 20px;
}

.notif a {
  color: black;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.breadcrumb {
  margin: 0px;
  padding: 15px;
  background-color: transparent;
  color: white;
}

.breadcrumb a {
  color: rgb(157, 157, 157);
}

.breadcrumb .active {
  color: white;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 70px;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

#header {
  min-height: 30px;
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}

#header > div {
  float: left;
  padding: 15px 30px;
}

#header a {
  color: white;
  text-decoration: underline;
}

#footer, #push{
  width: 80%;
  margin: 0px auto;
  border-top: 1px solid #cccccc;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
  line-height: 25px;
  text-align: right;
  font-size: 12px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 20px;
}

label {
  font-weight: 400 !important;
}

.title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.player-tag {
  float: left;
  line-height: 22px;
  padding: 2px 20px 2px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  color: white;
  background-color: rgb(30, 180, 123);
}

.player-tag.p1 {
  background-color: rgb(251, 116, 183);
}

.row {
  margin-top: 10px;
}

a.button-primary[disabled] { 
  pointer-events: none;
}

.bar-table {
  table-layout: fixed;
}

.bar-table th {
  /*text-align: center;*/
}

.bar-table td {
  padding: 5px 10px;
}

.bar {
  background: rgb(30, 180, 123);
 /* background: -moz-linear-gradient(270deg, rgb(41, 206, 57) 22%, rgb(39, 192, 55) 80%);
  background: -webkit-linear-gradient(270deg, rgb(41, 206, 57) 22%, rgb(39, 192, 55) 80%);
  background: -o-linear-gradient(270deg, rgb(41, 206, 57) 22%, rgb(39, 192, 55) 80%);
  background: -ms-linear-gradient(270deg, rgb(41, 206, 57) 22%, rgb(39, 192, 55) 80%);
  background: linear-gradient(0deg, rgb(41, 206, 57) 22%, rgb(39, 192, 55) 80%);*/
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  padding: 0px 10px;
  overflow: show;
  display: inline-block;
}

.bar.p1 {
  background: rgb(251, 116, 183);
}

.bar.light {
  background: rgb(146, 199, 191);
  padding: 0px;
}

.bar.light.p1 {
  background: rgb(250, 174, 207);
}

.bar.white {
  background: rgb(255,255,255);
  border: 1px solid rgb(150,150,150);
  padding: 0px;
}

.bar.white .bar {
  margin: -1px;
}

.grey {
  color: #888888;
}

section {
  margin-bottom: 50px;
}

select {
  color: black;
}

.slideout {
  display: none;
}

.tiny {
  font-size: 12px;
}

a.tiny {
  cursor: help;
}