<h2>Logs</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Zone</th>
      <th>Imported</th>
    </tr>
  </thead>
<% @logs.each do |log| %>
  <tr>
    <td><%= log.title %></td>
    <td><%= log.started_at.strftime("%m/%d/%Y") %></td>
    <td><%= log.zone %></td>
    <td>No</td>
  </tr>
<% end %>
</table>