<div id="footer">
 <p>Fork me on <a href="https://github.com/aonsager/bmlogs" target="_blank">Github</a>&nbsp;&nbsp;|&nbsp;&nbsp;Reach me on twitter: <a href="http://twitter.com/epwna_monk" target="_blank">@epwna_monk</a></p>
</div>