<div id="header" class="row">
  <div class="col-md-2">Brewmaster Logs</div>
  <div class="col-md-8">
    <%= breadcrumbs separator: " &rsaquo; " %>
  </div>
  <div class="col-md-2 pull-right">epwna</div>
</div>