<!DOCTYPE html>
<html>
<head>
  <title>Bmlogs</title>
  <!--  CSS  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--  SCRIPT  -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--  META  -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
