<!DOCTYPE html>
<html>
<head>
  <title>Bmlogs</title>
  <!--  FONT  -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <!--  CSS  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--  SCRIPT  -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--  META  -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
